@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fill-size {
  width: 100%;
  height: 100%;
}

@mixin overlay-container {
  position: absolute;
  top: 0;
  @include fill-size;
  @include flex-center;
}